@charset "UTF-8";
/**
 * 
 * @authors 张宇 (shejs@qq.com)
 * @date    2016-04-21 PM
 */

/*-----------------添加过渡属性-----------------*/
.swiper-slide-active .transition{
    -webkit-transition:all 1s ease .2s;
    transition:all 1s ease .2s;
}

/*----------过渡时间，默认1s----------*/
/*过渡时间：0.3s*/
.swiper-slide-active .transition.duration_-3s{
	-webkit-transition-duration:.3s;
	transition-duration:.3s;
}
/*过渡时间：0.5s*/
.swiper-slide-active .transition.duration_-5s{
	-webkit-transition-duration:.5s;
	transition-duration:.5s;
}
/*过渡时间：2s*/
.swiper-slide-active .transition.duration_2s{
	-webkit-transition-duration:2s;
	transition-duration:2s;
}
/*过渡时间：3s*/
.swiper-slide-active .transition.duration_3s{
	-webkit-transition-duration:3s;
	transition-duration:3s; 
}
/*过渡时间：4s*/
.swiper-slide-active .transition.duration_4s{
	-webkit-transition-duration:4s;
	transition-duration:4s;
}

/*----------过渡速度，默认ease--先慢后快然后再慢----------*/
/*过渡速度：linear--匀速*/
.swiper-slide-active .transition.fn_linear{
	-webkit-transition-timing-function:linear;
	transition-timing-function:linear;
}
/*过渡速度：ease-in--慢速开始*/
.swiper-slide-active .transition.fn_ease-in{
	-webkit-transition-timing-function:ease-in;
	transition-timing-function:ease-in;
}
/*过渡速度：ease-out--慢速结束*/
.swiper-slide-active .transition.fn_ease-out{
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}
/*过渡速度：ease-out--慢速开始和慢速结束*/
.swiper-slide-active .transition.fn_ease-in-out{
	-webkit-transition-timing-function:ease-in-out;
	transition-timing-function:ease-in-out;
}


/*----------过渡延时，默认0.2s----------*/
/*延时：0.5s*/
.swiper-slide-active .transition.delay_-5s{
	-webkit-transition-delay:.5s;
	transition-delay:.5s;
}
/*延时：1s*/
.swiper-slide-active .transition.delay_1s{
	-webkit-transition-delay:1s;
	transition-delay:1s;
}
/*延时：1.5s*/
.swiper-slide-active .transition.delay_1-5s{
	-webkit-transition-delay:1.5s;
	transition-delay:1.5s;
}
/*延时：2s*/
.swiper-slide-active .transition.delay_2s{
	-webkit-transition-delay:2s;
	transition-delay:2s;
}
/*延时：2.5s*/
.swiper-slide-active .transition.delay_2-5s{
	-webkit-transition-delay:2.5s;
	transition-delay:2.5s;
}
/*延时：3s*/
.swiper-slide-active .transition.delay_3s{
	-webkit-transition-delay:3s;
	transition-delay:3s; 
}
/*延时：3.5s*/
.swiper-slide-active .transition.delay_3-5s{
	-webkit-transition-delay:3.5s;
	transition-delay:3.5s; 
}
/*延时：4s*/
.swiper-slide-active .transition.delay_4s{
	-webkit-transition-delay:4s;
	transition-delay:4s;
}
/*延时：4.5s*/
.swiper-slide-active .transition.delay_4-5s{
	-webkit-transition-delay:4.5s;
	transition-delay:4.5s;
}
/*延时：5s*/
.swiper-slide-active .transition.delay_5s{
	-webkit-transition-delay:5s;
	transition-delay:5s;
}
/*延时：5.5s*/
.swiper-slide-active .transition.delay_5-5s{
	-webkit-transition-delay:5.5s;
	transition-delay:5.5s;
}


/*----------------------动画---------------------*/
.animation{
	-webkit-animation:mymove 5s linear 0s infinite normal;
	animation:mymove 5s linear 0s infinite normal;
	/*默认先暂停*/
	-webkit-animation-play-state:paused;
	animation-play-state:paused;
}
.swiper-slide-active .animation{
	-webkit-animation-play-state:running;
	animation-play-state:running;
}
/*----------动画时间，默认5s----------*/
/*动画时间：0.5s*/
.animation.a_duration_-5s{
	-webkit-animation-duration:.5s;
	animation-duration:.5s;
}
/*动画时间：1s*/
.animation.a_duration_1s{
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
/*动画时间：2s*/
.animation.a_duration_2s{
	-webkit-animation-duration:2s;
	animation-duration:2s;
}
/*动画时间：3s*/
.animation.a_duration_3s{
	-webkit-animation-duration:3s;
	animation-duration:3s; 
}
/*动画时间：4s*/
.animation.a_duration_4s{
	-webkit-animation-duration:4s;
	animation-duration:4s;
}


/*----------动画速度，默认linear--匀速----------*/
/*动画速度：ease--先慢后快然后再慢*/
.animation.fn_ease{
	-webkit-animation-timing-function:ease;
	animation-timing-function:ease;
}
/*动画速度：ease-in--慢速开始*/
.animation.fn_ease-in{
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in;
}
/*动画速度：ease-out--慢速结束*/
.animation.fn_ease-out{
	-webkit-animation-timing-function:ease-out;
	animation-timing-function:ease-out;
}
/*动画速度：ease-out--慢速开始和慢速结束*/
.animation.fn_ease-in-out{
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out;
}


/*----------动画延时，默认0.2s----------*/
/*延时：0.5s*/
.animation.a_delay_-5s{
	-webkit-animation-delay:.5s;
	animation-delay:.5s;
}
/*延时：1s*/
.animation.a_delay_1s{
	-webkit-animation-delay:1s;
	animation-delay:1s;
}
/*延时：1.5s*/
.animation.a_delay_1-5s{
	-webkit-animation-delay:1.5s;
	animation-delay:1.5s;
}
/*延时：2s*/
.animation.a_delay_2s{
	-webkit-animation-delay:2s;
	animation-delay:2s;
}
/*延时：2.5s*/
.animation.a_delay_2-5s{
	-webkit-animation-delay:2.5s;
	animation-delay:2.5s;
}
/*延时：3s*/
.animation.a_delay_3s{
	-webkit-animation-delay:3s;
	animation-delay:3s; 
}
/*延时：3.5s*/
.animation.a_delay_3-5s{
	-webkit-animation-delay:3.5s;
	animation-delay:3.5s; 
}
/*延时：4s*/
.animation.a_delay_4s{
	-webkit-animation-delay:4s;
	animation-delay:4s;
}

/*----------动画循环，默认永久----------*/
/*循环：1次*/
.animation.iteration_1{
	-webkit-animation-iteration-count:2;
	animation-iteration-count:2;
}

.stop{
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
}

/*----------动画之外的函数，默认没有----------*/
/*保持开始跟结束状态*/
.animation.a_both{
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}
/*保持结束状态*/
.animation.a_for{
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}
/*保持开始状态*/
.animation.a_back{
    animation-fill-mode:backwards;
    -webkit-animation-fill-mode:backwards;
}



/*----------是否轮流反向播放动画，默认 否*/
/*轮流反向播放*/
.animation.direction{
	-webkit-animation-direction:alternate;
	animation-direction:alternate;
}


/*----------转换元素的基点位置，默认中心点----------*/
/*左上角*/
.origin_0_0{
	transform-origin:0% 0%;
	-webkit-transform-origin:0% 0%;
}
/*右上角*/
.origin_100_0{
	transform-origin:100% 0%;
	-webkit-transform-origin:100% 0%;
}
/*左下角*/
.origin_0_100{
	transform-origin:0% 100%;
	-webkit-transform-origin:0% 100%;
}
/*右下角*/
.origin_100_100{
	transform-origin:100% 100%;
	-webkit-transform-origin:100% 100%;
}
/*左中部*/
.origin_0_50{
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}
/*右中部*/
.origin_100_50{
	transform-origin:100% 50%;
	-webkit-transform-origin:100% 50%;
}
/*上中部*/
.origin_50_0{
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}
/*下中部*/
.origin_50_100{
	transform-origin:50% 100%;
	-webkit-transform-origin:50% 100%;
}



/*-------------------------定义动画----------------------*/
/*旋转*/
.animation.rotate{
	animation-name:anRotate;
	-webkit-animation-name:anRotate;
}
@keyframes anRotate{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
@-webkit-keyframes anRotate{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}

/*跳动*/
.animation.jump{
	animation-name:anJump;
	-webkit-animation-name:anJump;
}
@keyframes anJump{
	0%{transform:translateY(0px);}
	10%{transform:translateY(-20px);}
	15%{transform:translateY(0px);}
	20%{transform:translateY(-10px);}
	23%{transform:translateY(0px);}
	25%{transform:translateY(-3px);}
	26%{transform:translateY(0px);}
	100%{transform:translateY(0px);}
}
@-webkit-keyframes anJump{
	0%{-webkit-transform:translateY(0px);}
	10%{-webkit-transform:translateY(-20px);}
	15%{-webkit-transform:translateY(0px);}
	20%{-webkit-transform:translateY(-10px);}
	23%{-webkit-transform:translateY(0px);}
	25%{-webkit-transform:translateY(-3px);}
	26%{-webkit-transform:translateY(0px);}
	100%{-webkit-transform:translateY(0px);}
}

/*呼吸*/
.animation.huxi{
	animation-name:anHuxi;
	-webkit-animation-name:anHuxi;
}
@keyframes anHuxi{
	0%{transform:scale(0.9);}
	100%{transform:scale(1.1);}
}
@-webkit-keyframes anHuxi{
	0%{-webkit-transform:scale(0.9);}
	100%{-webkit-transform:scale(1.1);}
}

/*从小到大弹出*/
.animation.s_t_b{
	animation-name:anSmallToBig;
	-webkit-animation-name:anSmallToBig;
}
@keyframes anSmallToBig{
	0%{transform:scale(0); opacity:0;}
	60%{transform:scale(1.2);}
	70%{transform:scale(0.8);}
	80%{transform:scale(1.1);}
	90%{transform:scale(0.9);}
	100%{transform:scale(1); opacity:1;}
}
@-webkit-keyframes anSmallToBig{
	0%{-webkit-transform:scale(0); opacity:0;}
	60%{-webkit-transform:scale(1.2);}
	70%{-webkit-transform:scale(0.8);}
	80%{-webkit-transform:scale(1.1);}
	90%{-webkit-transform:scale(0.9);}
	100%{-webkit-transform:scale(1); opacity:1;}
}

/*左进*/
@keyframes anLeft{
	0%{transform:translateX(-2rem); opacity:0;}
	40%{transform:translateX(0rem); opacity:1;}
    70%{transform:translateX(0.5rem);}
    90%{transform:translateX(-0.1rem);}
	100%{transform:translateX(0rem);}
}
@-webkit-keyframes anLeft{
	0%{-webkit-transform:translateX(-2rem); opacity:0;}
	70%{-webkit-transform:translateX(0rem); opacity:1;}
    80%{-webkit-transform:translateX(0.5rem);}
    90%{-webkit-transform:translateX(-0.1rem);}
	100%{-webkit-transform:translateX(0rem);}
}
/*右进*/
@keyframes anRight{
	0%{transform:translateX(2rem); opacity:0;}
	50%{transform:translateX(0rem); opacity:1;}
    70%{transform:translateX(-0.5rem);}
    90%{transform:translateX(0.1rem);}
	100%{transform:translateX(0rem);}
}
@-webkit-keyframes anRight{
	0%{-webkit-transform:translateX(2rem); opacity:0;}
	70%{-webkit-transform:translateX(0rem); opacity:1;}
    80%{-webkit-transform:translateX(-0.5rem);}
    80%{-webkit-transform:translateX(0.1rem);}
	100%{-webkit-transform:translateX(0rem);}
}
/*旋转进入*/
@keyframes anRotateJ{
	0%{transform:scale(3) rotate(0deg); opacity:0;}
	100%{transform:scale(1) rotate(360deg); opacity:1;}
}
@-webkit-keyframes anRotateJ{
	0%{-webkit-transform:scale(3) rotate(0deg); opacity:0;}
	100%{-webkit-transform:scale(1) rotate(360deg); opacity:1;}
}